.container {
    width: 380px;
    margin: auto;
    padding: 11px;
    background-color: rgb(1, 112, 112);
    text-align: center;
    margin-top: 44px;
    color: wheat;
    border-radius: 10px;
}

.inputTask {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container input {
    width: 70%;
    height: 40px;
    border: none;
    margin-left: 6px;
    background-color: black;
    color: wheat;
    font-size: 18px;
    border-radius: 5px;

}

.container button {
    width: 70px;
    height: 42px;
    margin-left: 6px;
    border-radius: 5px;
    border: none;
    font-size: 17px;
}

.taskData{
    display: flex;
    justify-content: space-between;
    margin-left: 14px;
     
     
  
  }
  .taskData p{
    font-size: 23px;
    margin-left: 8px;
    
     
  }
  .taskData #deleteIcon{
    position:relative;
    left: -9%;
    top: 28px;
    cursor: pointer;
    font-size: 30px;
    color: black;
    color: white;
  }

